In [1]:
import sqlite3

In [2]:
import pandas as pd

In [3]:
conn = sqlite3.connect('travel.db')

In [4]:
df = pd.read_sql_query('select * from travel_data;', conn)

In [5]:
df.shape

(183627, 6)

In [6]:
df.head()

   id  from  to  transportation_type  euro_price  time_in_minutes
0   1     8   9                    1     450.000              629
1   2     8  11                    1     698.568             1007
2   3     8  12                    1     211.664             1479
3   4     8  13                    1      78.448              205
4   5     8  14                    1     214.240              999

In [7]:
#df.to_csv('travel_data.csv', index=False)

In [156]:
df2 = df.groupby(['from', 'to'])['euro_price'].min().to_dict()

In [233]:
df_min = df[df.id == 0]

In [234]:
df_min

Empty DataFrame
Columns: [id, from, to, transportation_type, euro_price, time_in_minutes]
Index: []

In [235]:
for i in list(df.id):
    row = df[df.id == i]
    arr = int(row['from'])
    dep = int(row['to'])
    price = float(row['euro_price'])
    
    if price == df2[(arr, dep)]:
        df_min.loc[len(df_min)] = list(row.iloc[0])
    
    if len(df_min) % 10000 == 0:
        print(len(df_min))

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

10000
20000
30000
30000
40000
40000
50000
50000
50000
60000
60000
70000
80000
90000
100000
110000
110000

In [236]:
df_min.head()

    id  from    to  transportation_type  euro_price  time_in_minutes
0  1.0   8.0   9.0                  1.0     450.000            629.0
1  2.0   8.0  11.0                  1.0     698.568           1007.0
2  3.0   8.0  12.0                  1.0     211.664           1479.0
3  4.0   8.0  13.0                  1.0      78.448            205.0
4  5.0   8.0  14.0                  1.0     214.240            999.0

In [239]:
df_min.shape

(111455, 6)

In [240]:
df_min.to_csv('data_min_price.csv', index=False)