In [1]:
import mysql.connector as connector

In [2]:
import pandas as pd

In [6]:
try:
    mydb = connector.connect(host='localhost', database = 'cheap_trip', user='root', passwd='alderan639', use_pure=True)
    data = pd.read_sql('SELECT * FROM travel_data;', mydb)
    mydb.close()
    print('Sucesfully connected to db. Pandas dataframe created.')
except Exception as e:
    print(str(e))

Sucesfully connected to db. Pandas dataframe created.

In [7]:
data.head()

   id  from  to  transportation_type  euro_price  time_in_minutes
0   1     8   9                    1     450.000              629
1   2     8  11                    1     698.568             1007
2   3     8  12                    1     211.664             1479
3   4     8  13                    1      78.448              205
4   5     8  14                    1     214.240              999

In [8]:
data.shape

(183627, 6)

In [9]:
data.to_csv('travel_data.csv', index=False)